.headerName{
    font-size: 32px;
    padding: 0;
    margin: 0;
}
.imageContainer{
    display: flex;
    gap: 20px;
}
.bottomCorner{
    border-radius: 0 0 10px 0 !important;
}
.topCorner{
    border-radius: 0 10px 0 0 !important;
}
.image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
    height: 100% !important;
}
.bigSize{
    width: 50%;
}
.imageContainer img{
    height: 100% !important;
}
.bigSize img{
    height: 100% !important;
    border-radius: 10px 0 0 10px !important;
}
.imageContainer img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.reserveCard{
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    top: 2px;
    position: sticky;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.guest{
    width: 100%;
    /* border-top: 1px solid #b0b0b0; */
    
}
.checkHead{
    font-size: 11px;
    font-weight: 700;
}
.checkFooter{
    font-size: 16px;
}
.guest p{
    padding: 0;
    margin: 0;
}  
.checkIn{
    width: 100%;
    padding: 8px;
}
.checkIn p{
    padding: 0;
    margin: 0;
}
.checkOut p{
    padding: 0;
    margin: 0;
}
.checkOut{
    width: 100%;
    padding: 8px;
    /* border: 1px soli; */
    border-left: 1px solid #b0b0b0;
}
.guestContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #b0b0b0;
    padding: 8px;
}
.reserveBtn{
    width: 100%;
    padding: 8px 0;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    color: rgb(255, 255, 255)
}
.divider{
    width: 100%;
    background-color: #b0b0b0;
    height: 1px;
}
.pHeading{
    font-size: 17px;
    color: #717171;
}
.heading{
    font-size: 1.17em;
    font-weight: bold;
}
.ant-modal-content {
    border-radius: 20px;
    /* background: red; */
}
.simpleDivider{
    width: 100%;
    height: 1px;
    background-color: #dddddd;
}
.roomType{
    border-radius: 10px;
    border: 1px solid #dddddd;
    width: 40%;
    padding: 20px;
    margin-top: 20px;
}
.seatOption{
    display: flex;
    list-style-position: inside;
    margin: 0;
    font-size: 15px;
}
.seatOption li{
}
.seatOption li::before {
    content: "\2022";
    color: #717171;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    padding-left: 8px;
    margin-left: 0.em;
}
.diveHead{
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: black;
    font-weight: 600;
}
.diveHeader{
    color: #717171;
    font-weight: 400;
    font-size: 15px;
}
.serviceContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.serviceIcon{
    font-size: 22px !important;
}
.serviceIcon, .serviceName{
    font-size:17px;
    color: #222222;
}
/* .serviceName{
    font-size: ;
    color: ;
} */

.airBnb{
    background-color: #f9d2df;
    border: 1px solid #e31c5f;
    padding: 4px;
    border-radius: 40% 40% 10px 10px ;
    height: 40px;
    width: 40px;
}
.hostedContainer{
    display: flex;
    justify-content: space-between !important;
}
.spinContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}