.checkOutDivider{
    width: 100%;
    height: 1px;
    margin: 40px 0;
    background-color: #dddddd;
}
.cardDivider{
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background-color: #dddddd;
}
.countryContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #dddddd; */
    border-bottom: 1px solid #dddddd;
}
.authSection input{
    border: none;
    outline: none;
    padding: 10px 8px;
    font-size: 16px;
    /* border:1px solid #dddddd; */
}
.numberContainer{
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-bottom: 3px;
}
.authBtn{
    width: 100%;
    color: white;
    padding: 12px 0;
    font-size: 17px;
    border-radius: 8px;
    font-weight: 600;
    background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
}
.socialIcon, .socialMailIcon{
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.socialMailIcon{
    position: relative;
    width: 100%;
    justify-content: center;
}
.socialIcon:hover, .socialMailIcon:hover{
    background-color: #dddddd;
}
.paymentOption{
    cursor: pointer;
    width: 43.6%;
    margin: 0 auto;
    background-color: white;
    margin-top: 2px;
    position: absolute;
    z-index: 200;
    border: 1px solid #B0B0B0 !important;
    border-radius: 8px;
}
.paymentOption li {
    padding: 6px 16px;
    transition: all 0.3s ease;
}
.paymentOption li:hover{
    background-color: #F2F2F2;
}
.phoneNumber{
    padding: 6px 0;
    font-size: 16px;
    margin: 0;
}
.addressContainer{
    border: 1px solid #B0B0B0 !important;
    border-radius: 8px;
}
.formBox{
    position: relative;
    width: 100%;
    /* width: 200px !important; */
    height: 52px !important;
}
.formInput{
    position: absolute;
    background-color: transparent;
    width: 100%;
    top: 0 !important;
    left: 0 !important;
    height: 100%;
    z-index: 10;
    padding: 18px 18px 6px 14px;
    transition: 0.3s ease;
    opacity: 1;
}
.formInput::placeholder{
    transition: opacity .5s;
}
.formInput:focus::placeholder{
    opacity: 1;
    transition: .3s ease;
}
.formLabel{
    z-index: 100;
    position: absolute;
    top: 14px;
    font-weight: 400;
    gap: 4px;
    left: 20px;
    font-size: 9.008px;
    transition: 0.2s;
    pointer-events: none;
}
.formInput, .formLabel{
    outline: none;
    font-size: 15.008px;
    font-family: 'Poppins', sans-serif;
}
.formInput:focus{
    border: 2px solid #C13515;
    border-radius: 8px;
}
/* .formLabel:focus + .formInput{
    opacity: 1;
} */
.formInput:focus + .formLabel{
    
    top: 2px;
    left: 12px;
    transition: 0.3s;
}
.formInput:focus + .formLabel, 
.formInput:not(:placeholder-shown).formInput:not(:focus){
    opacity: 1;
    top: 6px;
    left: 14px;
    font-size: 12px;
    transition: .3s;
}
.countryName{
    height: 52px;
    padding: 18px;
    border: 1px solid #B0B0B0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}
.countryName p {
    margin: 0;
    font-size: 12px;
}
.countryNameContainer{
    position: relative;
}
.countryNameContainer li{
    padding: 12px 0;
    font-size: 16px;
    font-weight: 400;
}
.confirmBtn{
    background-color: #FF385C;
    color: white;
    font-weight: 400;
    border-radius: 8px;
    font-size: 17px;
    padding: 10px 35px;
}