.aside{
    height: 100%;
    width: 160px;
    z-index: 1;
    top: 0;
    position: fixed;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    color: white;
    padding-top: 90px;
    margin-left: 10%;
}
.asideContainer{
    /* margin-left: 28%; */
}
@media screen and  (max-width: 1536px) {
    .aside{
        margin-left: 5%;
    }
    .asideContainer{
        margin-left: 0;
    }
}
@media screen and  (max-width: 1280px) {
    .aside{
        margin-left: 5%;
    }
    .asideContainer{
        margin-left: 28%;
    }
}
@media screen and  (max-width: 1024px) {
    .aside{
        margin-left: 5%;
    }
}
@media screen and  (max-width: 768px) {
    .aside{
        margin-left: 2%;
    }
    .asideContainer{
        margin-left: 28%;
    }
}
@media screen and  (max-width: 640px) {

}