.aside{
    position: relative;
    height: 90.5vh;
    overflow: hidden ;
    width: 140px;
    background-color: #d1d5db;
}
.aside li{
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.aside li:hover{
    background-color: red;
}
.tab{
    background-color: #9CA3AF;
    margin-top: 40px;
}
.tab li {
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
}
.tab li:hover {
    background-color: #D1D5DB;
}
.prev, .next{
    top: 45%;
    height: 26px;
    width: 26px;
    padding: 0 3px;
    background-color: #f2f2f2;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    z-index: 1 !important;
}
.prev{
    float: left;
    left: 5px;
}
.prev:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.next{
    float: right;
    right: 5px;
}
.next:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
