.aside{
    position: relative;
    height: 90.5vh;
    overflow: hidden ;
    width: 140px;
    background-color: #d1d5db;
}
.aside li{
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.aside li:hover{
    background-color: red;
}
.tab{
    background-color: #9CA3AF;
    margin-top: 40px;
}
.tab li {
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
}
.tab li:hover {
    background-color: #D1D5DB;
}