.footerList {
    display: flex;
    gap: 15px;
    /* padding-left: 15px; */
    margin-left: 15px;
    margin-bottom: 0;
}
.footerList li::before{
    content: '.';
    position: absolute;
    top: -17px;
    font-size: 25px;
    color: #666;
    right: 100px;
    padding: 0 -20px ;
    padding-right: 5px;
}
.footerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding: 15px 0;
    
}
.footerContainer p{
    margin-bottom: 0;
}
.right{
    display: flex;
    align-items: center;
    gap: 15px;

}
.container{
    border-top: 1px solid #eee;
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
}
.support{
    display: flex;
    align-items: center;
    gap: 9px;
}
.arrowIcon{
    font-size: 20px;
    font-weight: 600;
}
.sharedFooter ul{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 25px;
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}
.sharedFooter li{
    padding: 10px;
}
.sharedFooter li:before{
    content: ".";
    top: 7px;
    margin-left: -12px;
    position: absolute;
    display: block;

}