.footerContainer{
    position: fixed;
    left: 0;
    bottom: 0 ;
    background-color: white;
    border-top: 1px solid #b0b0b0;
    width: 100% !important;
    z-index: 2;
    padding: 12px 0;
}
.footerMainContainer{
    max-width: 1536px;
    margin: 0 auto ;
    font-size: 15px;
}
.arrowIcon{
    font-size: 20px;
    font-weight: 600;
}
@media screen and (max-width: 1024px) {
    .footerMainContainer{
        padding: 0 10%;
    }
}
@media screen and (max-width: 768px) {
    .footerContainer{
        display: none;
    }
}